
<script>
      
       window.onscroll = function() {resizeSideNav()};
       function resizeSideNav() {
  if (document.body.scrollBottom > 80 || document.documentElement.scrollTop > 80) {
     document.getElementById("sidebar").style.top = "-30px";
  }  else {
    document.getElementById("sidebar").style.top = "80px";
  }
}
   </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css">
<div class="container">
    
    <div class="sidenav" id="sidebar">
        <a id="establishment" href="#">
			<span id="establishment-name">{{datos_paciente.centro}}</span> 
		</a>
        <a href="/buscar-paciente">Buscar pacientes</a>
        <a href="/registrar-expediente">Agregar expediente</a>
    </div>
</div>

<div class="container">
    {{#if datos_paciente}}
        <div class="card" id="regist-showcase">
        <div class="card-body">
                    <p class="card-title font-weight-bold" id= "exp-name" name="">EXPEDIENTE {{datos_paciente.id}} <span> </span></p><form action="/llenar-consulta" method="POST"><input type="submit" class="add-reg-btn" name="btnAddReg" value="Agregar consulta"/></form>
                                    
                    <hr>
                                    <div class="row">
                                        <div class="col-sm-2"> 
                                                <img src="..." alt="..." class="img-thumbnail">

                                        </div>
                                        <div class="col-sm-10"> 
                                                
                    <ul class="about">
                      <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span class="about-item-name">Nombre:</span><span class="about-item-detail">{{datos_paciente.nombre}} </span><a href="" class="about-item-edit">Edit</a></li>
                      <li class="about-items"><i class="mdi mdi-mail-ru icon-sm "></i><span class="about-item-name">DUI:</span><span class="about-item-detail">{{datos_paciente.dui}}</span> <a href="" class="about-item-edit">Edit</a></li>
                      <li class="about-items"><i class="mdi mdi-lock-outline icon-sm "></i><span class="about-item-name">Fecha creaci&oacute;n:</span><span class="about-item-detail">{{datos_paciente.fechaCreacion}}</span> <a href="" class="about-item-edit">Edit</a></li>
                      
                          </span> <a href="" class="about-item-edit"> </a></li>
                                        </div>
                                    </div>
                    
                          
                    </ul>
                                    <hr>
                    <p class="card-description">Informaci&oacute;n de contacto</p>
                    <ul class="about">
                      <li class="about-items"><i class="mdi mdi-phone icon-sm "></i><span class="about-item-name">Telefono:</span><span class="about-item-detail">{{datos_paciente.telefono}}</span><a href="" class="about-item-edit">Edit</a></li>
                      <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i><span class="about-item-name">Direcci&oacute;n:</span><span class="about-item-detail">{{datos_paciente.direccion}}</span> <a href="" class="about-item-edit">Edit</a></li>
                      
                      
                    </ul>
                                        <hr>
                    <p class="card-description">Datos generales</p>
                    <ul class="about">
                      <li class="about-items"><i class="mdi mdi-cake icon-sm "></i><span class="about-item-name">Fecha de nacimiento:</span><span class="about-item-detail">{{datos_paciente.fechaNacimiento}}</span><a href="" class="about-item-edit">Edit</a></li>
                      <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span class="about-item-name">Sexo:</span><span class="about-item-detail">{{datos_paciente.sexo}}</span> <a href="" class="about-item-edit">Edit</a></li>
                      <li class="about-items"><i class="mdi mdi-clipboard-account icon-sm "></i><span class="about-item-name">Ocupaci&oacute;n:</span><span class="about-item-detail">{{datos_paciente.ocupacion}}</span> <a href="" class="about-item-edit">Edit</a></li>
                      <li class="about-items"><i class="mdi mdi-water icon-sm "></i><span class="about-item-name">Sangre:</span><span class="about-item-detail">{{datos_paciente.tipoSangre}}</span> <a href="" class="about-item-edit">Edit</a></li>
                      <li class="about-items"><i class="mdi mdi-human-male-female icon-sm "></i><span class="about-item-name">ALERGIAS:</span><span class="about-item-detail">{{datos_paciente.alergias}}</span> <a href="" class="about-item-edit">Edit</a></li>
                    </ul>
                                    <hr>
        <div class="row">
            <div class="col-sm-10"> 
                <p class="card-description">Historial</p>
                <div class="well">
        <table id="patient-history">
          <thead>
            <tr>
              <th>Fecha de consulta</th>
              <th>Centro de atencion</th>
              <th>Examenes</th>
              <th>Diagnostico</th> 
            </tr>
          </thead>
          <tbody>
            {{#each datos_paciente.consultas}}
            <tr>
              <td>{{fechaConsulta}}</td>
              <td>{{centroMedico}}</td>
              <td>{{examenes}}</td>
              <td>{{diagnostico}}</td>
            </tr>      
            {{/each}}
          </tbody>
        </table>
                </div>
    
            </div> 
        </div>

        </div>
        </div>
    {{/if}}
</div>